body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightgreen;
}

h1 {
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    margin-bottom: 10px;
}