<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas Disponíveis</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Vagas Disponíveis</h1>
    <nav>
        <ul>
            <li><a href="cadastro.html">Cadastrar Reserva</a></li>
            <li><a href="listar.html">Listar Vagas Cadastradas</a></li>
            <li><a href="disponiveis.html">Vagas Disponíveis</a></li>
        </ul>
    <ul id="vagasDisponiveis"></ul>
    <script src="../js/app.js"></script>
</body>
</html>